<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PurchaseDao">

    <insert id="releaseNhRequirement"
            parameterType="com.domain.Purchases">
        INSERT INTO
        nh_purchases (nh_purchases_id, nh_basic_id, title, content, telephone)
        VALUES
        (#{purchasesId}, #{basicId},#{title}, #{content}, #{telephone})
    </insert>

    <insert id="releaseMjRequirement"
            parameterType="com.domain.Purchases">
        INSERT INTO
            mj_purchases (mj_purchases_id, mj_basic_id, title, content, telephone)
        VALUES
            (#{purchasesId}, #{basicId},#{title}, #{content}, #{telephone})
    </insert>
    
    <select id="getNhRequirementList"
            resultType="Purchases">
        SELECT
            nh_purchases_id as purchases_id,
            title,
            content,
            telephone,
            create_date,
            statu
        FROM
            nh_purchases
        <where>
            <if test="id != null and id != ''">
                nh_basic_id = #{id}
            </if>
        </where>
    </select>

    <select id="getMjRequirementList"
            resultType="Purchases">
        SELECT
            mj_purchases_id as purchases_id,
            title,
            content,
            telephone,
            create_date,
            statu
        FROM
            mj_purchases
        <where>
            <if test="id != null and id != ''">
                mj_basic_id = #{id}
            </if>
        </where>
    </select>
    
    <select id="getNhRequirement"
            resultType="Purchases">
        SELECT
            nh_purchases_id as purchases_id,
            title,
            content,
            telephone,
            create_date,
            statu
        FROM
            nh_purchases
        WHERE
            nh_purchases_id = #{id}
    </select>

    <select id="getMjRequirement"
            resultType="Purchases">
        SELECT
            mj_purchases_id as purchases_id,
            title,
            content,
            telephone,
            create_date,
            statu
        FROM
            mj_purchases
        WHERE
            mj_purchases_id = #{id}
    </select>
</mapper>