<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <title>农户注册</title>
</head>
<body>
    <header>
    <div class="simple-header">
        <div class="desc">欢迎注册|<a href="/login/to_nh_login">登录</a></div>
    </div>
    </header>
    <section>
        <form class="register-form" id="registerForm">
            <div class="register-box">
                <label class="other_label">手 机 号 码
                    <input name="nhTelephone" id="nhTelephone" minlength="11" maxlength="11" type="text" placeholder="您的手机号码"/>
                </label>
                <div class="tips">

                </div>
            </div>
            <div class="register-box">
                <label class="other_label">设 置 密 码
                    <input name="nhPassword" id="nhPassword" minlenth="6" maxlength="20" type="password" placeholder="建议至少使用两种字符组合"/>
                </label>
                <div class="tips">

                </div>
            </div>
            <div class="register-box">
                <label class="other_label">确 认 密 码
                    <input name="rePassword" id="rePassword" maxlength="30" type="password" placeholder="请再次输入密码"/>
                </label>
                <div class="tips">

                </div>
            </div>
            <div class="arguement">
                <input type="checkbox" id="xieyi"/>
                阅读并同意
                <a href="#">《用户注册协议》</a>
                <a href="#">《隐私政策》</a>
                <div class="tips">

                </div>
            </div>
            <div class="submit_btn">
                <button type="submit" id="submit_btn" onclick="register()">立 即 注 册</button>
            </div>
        </form>
    </section>
    </body>
    <script type="text/javascript" th:src="@{/libs/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/libs/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/jquery-validation/localization/messages_zh.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script>
        function register() {
            $("#registerForm").validate({
                submitHandler:function(form){
                    var flag = submitClick();
                    if(flag != false) {
                        nh_register();
                    }
                }
            });
        }
        function nh_register() {
            showLoading();
            $.ajax({
                url:"/register/nh_register",
                type:"post",
                data:{
                    nhTelephone:$('#nhTelephone').val(),
                    nhPassword:$('#nhPassword').val(),
                    rePassword:$('#rePassword').val()
                },
                success:function (data) {
                    if(data.code == 0) {
                        layer.msg("注册成功");
                        window.location.href="/register/to_mj_register";
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error:function (result) {

                }
            });
        }
    </script>
</html>